Dependencies

In [ ]:
import os
import pandas as pd

Data --> data frame

In [7]:
purchase_data_path = os.path.join('Resources','purchase_data.json')
purchase_df = pd.read_json(purchase_data_path)

#### Get total number of players

In [33]:
#Distinguish players by SN attribute
total_players = len(purchase_df['SN'].unique())
total_players_df = pd.DataFrame({'Total Players':[total_players]})
total_players_df

   Total Players
0            573

####  Do purchase analysis

In [60]:
total_items = len(purchase_df['Item ID'].unique())
average_item_price = purchase_df['Price'].mean()
total_purchases = purchase_df['Price'].count()
total_revenue = purchase_df['Price'].sum()
#create dataframe with computed values
purchase_analysis_total_df = pd.DataFrame(
    {'Number of Unique Items':[total_items],
     'Average Purchase Price':[average_item_price],
     'Total Number of Purchases':[total_purchases],
     'Total Revenue':[total_revenue]})
#format currency
purchase_analysis_total_df['Average Purchase Price'] = \
purchase_analysis_total_df['Average Purchase Price'].map('${:,.2f}'.format)
purchase_analysis_total_df['Total Revenue'] = \
purchase_analysis_total_df['Total Revenue'].map('${:,.2f}'.format)
#re-arrange columns
purchase_analysis_total_df = purchase_analysis_total_df[['Number of Unique Items',
                                                        'Average Purchase Price',
                                                        'Total Number of Purchases',
                                                        'Total Revenue']]
purchase_analysis_total_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$2.93,780,"$2,286.33"

#### Gender demographics

In [128]:
males_df = purchase_df.loc[purchase_df['Gender'] == 'Male']
females_df = purchase_df.loc[purchase_df['Gender'] == 'Female']
#use SN to distinguis players and avoid double counting
males = len(males_df['SN'].unique())
females = len(females_df['SN'].unique())
others = len(purchase_df['SN'].unique()) - males - females
#create dataframe 
gender_df = pd.DataFrame({'Male':[100*males/total_players, males],
                          'Female':[100*females/total_players, females],
                         'Other / Non-Disclose':[100*others/total_players, others]})
gender_df = gender_df[['Male', 'Female','Other / Non-Disclose']]
gender_df.index = ['Percentage of Players', 'Total Count']
gender_df.transpose()

                      Percentage of Players  Total Count
Male                              81.151832        465.0
Female                            17.452007        100.0
Other / Non-Disclose               1.396161          8.0

In [129]:
purchase_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [42]:
len(purchase_df)

780