In [44]:
# Dependencies
from bs4 import BeautifulSoup
import pandas as pd
import requests
from splinter import Browser
import time

### NASA Mars News

In [24]:
#Set dict to chromedriver executable location
executable_path = {'executable_path': 'C:\Program Files (x86)\ChromeDriver\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
#Mars exploration program web site
url = 'https://mars.nasa.gov/'
browser.visit(url)
#Navigate to news page via -> New -> More News
browser.click_link_by_partial_text('News')
time.sleep(3)
browser.click_link_by_partial_text('More News')

In [25]:
#parse page
soup = BeautifulSoup(browser.html, 'html.parser')
#get all list items from the page
results = soup.find_all('li', class_="slide")
#collect the latest news title and paragraph
news_title = results[0].find('div', class_='content_title').a.text
news_p = results[0].find('div',class_='article_teaser_body').text

### JPL Mars Space Images - Featured Image

In [41]:
#Navigate to site of NASA's featured images
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
#parse page
soup = BeautifulSoup(browser.html, 'html.parser')
#get all list items from the page
results = soup.find_all('li', class_="slide")
#collect the first features image
featured_image_url = results[0].find('div', class_='img').img['src']
featured_image_url = 'https://www.jpl.nasa.gov' + featured_image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA22370-640x350.jpg'

### Mars Weather

In [43]:
#Navigate to the Mar's weather twitter account
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
#parse page
soup = BeautifulSoup(browser.html, 'html.parser')
#get all tweets and select the last one
tweet = soup.find('div', class_='js-tweet-text-container')
mars_weather = tweet.p.text

'Sol 2022 (April 14, 2018), Sunny, high -4C/24F, low -73C/-99F, pressure at 7.19 hPa, daylight 05:27-17:21'

### Mars Facts

In [47]:
#read html tables form web site using pandas
url = 'https://space-facts.com/mars/'
table = pd.read_html(url)

In [50]:
mars_df = table[0]
mars_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [52]:
mars_df.columns = ['Description', 'Value']
mars_df.set_index('Description', inplace=True)
mars_df.head()

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [58]:
html_table = mars_df.to_html()
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 Â°C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

### Mars Hemisperes

In [59]:
#Navigate to the astrogeology web site with "Mars" query
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
#Navigate to news page via -> New -> More News
html = browser.html
browser.click_link_by_partial_text('News')
time.sleep(3)